@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}
.page-wrapper{
    width: 1200px;
    margin: 0 auto;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button {
    font-family: inherit;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}
.mailing-button{
    background-color: #83B3D3;
}

.page-header {
    color: #000000;
}
.navigation {
    display: flex;
    padding: 0 70px;
}
.navigation-logo{
    width: 139px;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    list-style: none;
}
.navigation-user {
    max-width: 320px;
    margin-left: auto;
}
.navigation-link{
    margin-right: 34px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-user .navigation-link{
    min-width: 19px;
    min-height: 24px;
}
.navigation-button{
    padding: 9px 15px 8px 15px;
    border-radius: 4px;
}
.main-inner {
    padding-top: 0;
    color: #ffffff;
    background-color: #ffffff;
    flex-grow: 1;
}
.main-container {
    flex-grow: 1;
}
.main-logo {
    display: block;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 82px;
}
.welcome-background{
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 63px;
}

.advantages-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color:#000000;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-title, .interest-title{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.main-title{
    display: flex;
    margin-right: 240px;
    margin-bottom: 31px;
    margin-left: 240px;
}
.interest{
    padding-top: 91px;
    padding-bottom: 100px;
}
.interest-title{
    margin-bottom: 29px;
}
.main-text, .interest-text{
    font-size: 22px;
    line-height: 36px;
    text-align: center; 
}
.interest-text{
   margin-top: 0;
   margin-bottom: 56px;
   line-height: 26px;
}
.main-text{
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 400;
}
.advantages-title{
    width: 400px;
    margin-top: 98px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.advantages-pic{
    Width: 800px;
    margin: 0;
    
    padding: 0;
}
.advantages-pic:nth-child(odd){
    margin: 0;
    margin-left: auto;
}
.advantages-item{
    Width: 400px;
}
.advantages-item:nth-child(odd){
    background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(even){
    background-color: rgba(131, 179, 211, 0.2);
}
.advantages-sub-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.advantages-text-wrapper{
    width: 400px;
}
.advantages-item.pic{
    display: flex;
    color:#FFFFFF;
    background-color: rgba(131, 179, 211);
}
.advantages-sub-item{
    Width: 400px;
    color:#000000;
    background-color: rgba(131, 179, 211, 0.12);
    list-style: none;
}
.advantages-sub-item.food{
    background-color: #FFFFFF;
}
.advantages-description{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 79px;
    line-height: 21px;
}
.features__number{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 21px;
}

.interest-button.button{
    text-align: center;
    margin: 0 auto;
    margin-left: 312px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 575px;
    
}
.mailing{
    padding: 94px 0;
    color:#FFFFFF;
    text-align: center;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.mailing-inner{
    padding-top: 73px;
    padding-bottom: 141px;
    color: #000000;
    text-align: center;
}
.mailing-title{
    margin-top: 0;
    margin-bottom: 29px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.mailing-form{
    margin: 0;
}
.mailing-text{
    margin-top: 0px;
    margin-bottom: 46px;
    font-size: 22px;
    line-height: 26px;
}
.page-footer{
    display: flex;
    padding: 0;
}
.footer-contacts{
    width: 720px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 38px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}
.telephone{
    color: #000000;
    text-decoration: none;
}
.footer-social {
    width: 130px;
    margin-left: 72px;
    
}
.footer-social-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-social-item{
    min-width: 10px;
    min-height: 18px;
    margin-right: 30px;
}
.footer-social-item:nth-child(3n){
    margin-right: 0;
}
.newsletter{
    margin-right: 72px;
    margin-left: auto;
    width: 115px;
}
.newsletter-html-logo{
    margin-top: 42px;
}
/* catalog */
.main-inner-background{
    background-image: url("../images/catalog/catalog-background-1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.inner-header{
    padding-top: 35px;
}
.inner-header-title {
    margin-top: 0;
    margin-bottom: 5px;
    
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding: 0;
    color: #ffffff;
    list-style-type: none;
}
.breadcrumbs-link {
    color: inherit;
    min-width: 4px;
    min-height: 4px;
    margin-right: 26px;
}
.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
}

.catalog-filter {
    display: flex;
    padding-left: 71px;
    margin-bottom: 50px;
    padding-bottom: 83px;
}
.catalog-filter-group{
    width: 150px;
}
.catalog-filter-group:nth-child(3){
    margin-left: 167px;
    width: 287px;
}
.catalog-filter-button{
    display: flex;
    flex-direction: column;
    width: 160px;
}
.control-input{
    font-size: 16px;
    line-height: 23px;
}
.button.submit{
    font-size: 16px;
    line-height: 21px;
    background-color: #83B3D3;
    border-radius: 4px;
}
.button.reset{
    font-size: 18px;
    line-height: 23px;
    background: transparent;
    font-weight: 400;
    text-transform: none;
}
.catalog-result-wrapper{
    display: flex;
    margin-right: 72px;
    margin-bottom: 53px;
    margin-left: 71px;
}
.catalog-result{
    margin-right: 179px;
    width: 350px;
}
.hotel-card-image{
    margin: 0;
    padding: 0;
}
.select-control{
    width: 287px;
    font-size: 18px;
    line-height: 23px;
}
.select-buttons{
    width: 160px;
    margin-left: auto;  
}
.select-buttons .button{
    width: 48px;
    height: 48px;
    margin-right: 8px;
}
.catalog-filter-label{
    font-size: 18px;
    line-height: 23px;
}
.catalog-result{
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.hotel-card-link{
    text-decoration: none;
}
.hotel-card-list{
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 10px 18px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 72px;
    list-style-type: none;
    padding: 0;
}
.hotel-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.hotel-card-title{
    margin: 16px 0;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: #000000;
}
.hotel-card-button{
    margin-top: 0;
    margin-right: 26px;
    margin-bottom: 16px;
    width: 133px;
}
.hotel-card-button-favourite{
    background-color: #83B3D3;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 141px;
}
.hotel-card-button-chosen{
    background-color: #7DB54F;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 141px;
}
.hotel-card-info{
    display: flex;
    flex-wrap: wrap;
}
.hotel-text{
    margin-top: 0;
    margin-right: 25px;
    margin-bottom: 16px;
    width: 133px;
}
.hotel-card-price{
    margin-bottom: 16px;
    width: 142px;
    font-weight: 400;
}
.pagination-show-more{
    margin: 30px 290px;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    background-color: #83B3D3;
    width: 620px;
    height: 60px;
}
.hotel-stars{
    width: 140px;
}
.hotel-rating-text{
    margin: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    width: 160px;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 4px;
}
.pagination-wrapper{
    display: flex;
    margin-top: 30px;
    margin-left: 72px;
    margin-right: 72px;
}
.pagination{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 370px;
}
.pagination-link{
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    margin-right: 8px;
    padding: 14px 0px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #83B3D3;
    text-align: center;
    text-decoration: none;
}
.pagination-link:not(:last-child){
    margin-right: 0;
}
.pagination-current{
    color: #000000;
    background-color: #F2F2F2;;
}

.hotel-presented-number{
    width: 175px;
    margin-top: 0;
    margin-right: 51px;
    margin-bottom: 0;
    margin-left: auto;
    color: #333333;
    align-self: center;
}
.select-control-pagination{
    width: 160px;
}
.field{
    background-color: #F2F2F2;
}